/* WEBSITE CSS */

/* ALL PAGES */
a{
	color:#CD7000;
	text-decoration: none;
}

a:hover{
	color:#FFC999;
}

body {
	/*background-color: #E3D69A;*/ /*milk tea color*/
	background-color: white;

}

#banner {
	font-family: Bubble;
	text-align: center;
	font-size: 75px;
	text-transform: uppercase;
}

#navBarColor {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 33.45px;
	background-color: black;
	z-index: 3;
}

ul {
	font-family: Montserrat;
	text-align: center;
	position: relative;
	top: 0px;
    list-style-type: none;
    padding: 4px;
    overflow: hidden;
    z-index: 3;
}

li {
	display: inline-block;
	float: none;
	padding:3px;
}

a.nav:link, a.nav:visited {
    display: block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0px;
}

h2.pageHeading {
	position: static;
	color: black;
	font-family: Bubble;
	text-align: center;
	text-transform: uppercase;
	font-size: 35px;
	margin: auto;
	padding:10px;

}

/* HOME PAGE ONLY */

#mycanvas {
	position: relative;
	top: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color:#E3D69A;
	height: 450px;
	width: 650px;
	border-style: solid;
	border-width: 15px;
}

p.pageFont {
	font-family: Montserrat;
	font-size: 15px;
	text-align: center;
	padding:10px;
}

footer {
	text-align:center;
	bottom: 0px;
	background-position: center bottom;
}


/* CHARACTER PAGE ONLY */

table.characters{
	margin:auto;
	width:50%;
}

td.characters{
	text-align:center;
	padding:20px;
}

tr.characters{
	padding:20px;
}

img.characters {
	height: 200px;
	width: 200px;
}

p.characters {
	font-family: Montserrat;
	font-size:30px;
	color:gray;
}

p.pageFont {
	font-family: Montserrat;
	text-align: center;
	font-size: 18px;
}

/* CREATOR PAGE */

img.creator {
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    padding-bottom: 0px;
	height: 350px;
	width: 350px;
}

#images {
	text-align: center;
}

table.creators{
	margin-right:auto;
	margin-left:auto;
	border-spacing:90px;
	text-align:left;
}

td.creators{
	margin:auto;
	text-align: center;
}

#creatorTitle {
	font-family: Bubble;
	font-size: 35px;
	text-align: center;
	text-transform: uppercase;
}

p.creatorDescription {
	font-family: Montserrat;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

/* CONTACT US PAGE */

.bobaContact {
	width: 100px;
	height: 100px;
}

#contactimages {
	text-align: center;
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url("http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2") format("woff2"), url("http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/pacifico/v7/yunJt0R8tCvMyj_V4xSjaXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


@font-face {
font-family: 'Pixel';
font-style: normal;
font-weight: normal;
src: local('BM gaia A10'), url('BMgaia.woff') format('woff');
}

@font-face {
font-family: 'Bubble';
font-style: normal;
font-weight: normal;
src: local('SHAKAGRAPHICS 05'), url('SG05.woff') format('woff');
}
